@import "../../assets/styles.scss";

.topbar {
	padding: 0.5rem;
	@include root-side-spacing;
	height: 3.5rem;
	background-color: white;
	box-shadow: 0 4px 7px $shadow;
	position: sticky;
	z-index: 2;
	top: 0;

	.container {
		max-width: 1366px;
		height: 100%;
	}

	.flex-box {
		height: 100%;
	}

	&__logo {
		height: 100%;
		display: inline-block;

		& img {
			height: 100%;
			width: auto;
		}
	}

	&__icon {
		position: relative;
	}

	&__notification {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 10px;
		font-weight: 600;
		color: white;
		height: 1.6em;
		width: 1.6em;
		border-radius: 50%;
		background-color: $alert;
		line-height: 1.6em;
	}
}
