@import "../../../assets/styles.scss";

.card {
	box-shadow: 0 0 15px $shadow;
	background-color: white;
	position: relative;
	cursor: pointer;

	&__image {
		width: 100%;
		height: auto;
	}

	&__infos {
		padding: 10px;
		text-align: center;
		line-height: 1.25rem;
		position: relative;
		z-index: 1;
		box-shadow: 0 -2px 8px $shadow;
	}

	&__promotion {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__title {
		@include my-font(0.95rem, 700);
	}

	&__price {
		@include my-font(0.9rem, 400);

		&--striked {
			margin-right: 8px;
		}
	}
}
