@import "../../../assets/styles.scss";

.busca {
	&__input {
		padding: 8px 2.5%;
		box-shadow: 0 12px 24px $shadow;

		input {
			font-size: 0.9rem;
			display: block;
			width: 100%;
			padding: 8px 16px;
			border: 1px solid rgba($color: $gray, $alpha: 0.5);
			border-radius: $brd-rad;
		}
	}
}
