@import "../../assets/styles.scss";

.sidebar {
	width: 100vw;
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	z-index: 3;
	background-color: $light-gray;

	&__header {
		position: sticky;
		z-index: 1;
		background-color: white;
		top: 0;
		height: 3.5rem;
		padding: 0 2.5%;
		display: flex;
		align-items: center;
		box-shadow: 0 6px 12px $shadow;
	}

	&__icon {
		display: flex;
		margin-right: 24px;
		i {
			font-size: 28px;
		}
	}

	&__title {
		display: inline-block;
	}

	&__content {
		height: calc(100% - 3.5rem);
	}

	&__items {
		padding: 0 2.5%;
		height: calc(100% - 3rem);
		overflow-y: auto;
	}

	&__error {
		display: block;
		text-align: center;
		padding-top: 50%;
		@include my-font(1rem, 500, $gray);
	}
}

@media only screen and (min-width: 768px) {
	.sidebar {
		height: 100vh;
		width: 30vw;
		min-width: 400px;
		right: 0;
		box-shadow: -8px 0 16px $shadow;
	}
}
