@import "./assets/styles.scss";

html {
	font-family: Noto Sans SC, sans-serif;
	font-size: 16px;
	body {
		background-color: $light-gray;
	}
}

* {
	box-sizing: border-box;
}

body,
figure,
button,
ul,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	text-align: center;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

input {
	font: inherit;
	border: none;

	&::placeholder {
		font: inherit;
	}

	&:focus {
		outline: none;
	}
}

figure {
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}
}

img {
	display: block;
}
