@import "../../assets/styles.scss";

.produto {
	@include root-side-spacing;

	&__panel {
		margin: 1rem 0;
		min-width: 340px;
	}

	&__name {
		@include my-font(1.3rem, 700);
		margin: 0;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__pricing {
		margin: 0;
		margin-top: 0.2rem;
		@include my-font(1rem, 700);
	}

	&__price {
		margin-right: 10px;
	}

	&__promotion {
		margin-left: 25px;
		vertical-align: middle;
	}

	&__models {
		@include my-font(0.9rem, 400, $gray);
		margin-top: 1rem;
		span {
			display: block;
			margin-bottom: 0.5rem;
			&.text-alert {
				font-size: 0.9em;
			}
		}
	}

	&__size {
		display: inline-block;
		margin-right: 8px;

		button {
			@include my-font(0.9rem, 600);
			line-height: 0.9rem;
			padding: 10px 11px;
			border: 1px solid $gray;
			border-radius: $brd-rad;
			transition: $transition;
			&:hover {
				background-color: rgba($color: $gray, $alpha: 0.3);
			}
		}

		&--selected {
			button {
				background-color: $dark-gray;
				color: white;
				border: none;
				&:hover {
					background-color: rgba($color: $dark-gray, $alpha: 0.9);
				}
			}
		}
	}

	&__cta {
		margin-top: 1.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.produto {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		height: 100%;
		display: flex;

		&__container {
			overflow: hidden;
			height: calc(100vh - 3.5rem);
		}

		&__panel {
			margin: 0 auto;
			padding-left: 1rem;
		}

		&__image {
			margin-right: 1rem;
			height: 100%;
			min-width: max-content;
			img {
				max-height: 100%;
				width: auto;
			}
		}
	}
}
